body{
    margin: 0px;
    background-color: rgb(193, 43,42);

}

div.menu{
    margin-left: 29vw;
    right: auto;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2vw;
    margin-top: 2vw;
    font-family: "outfit";
}
a{
    margin: 1vw;
    color: white;
    text-decoration: none;

}
div.topimg{
    position: absolute;
    top: -0.5vh;
    width: 100%;
    height: auto;
    z-index: -1;

}

img{
    width: 100%;
    height: auto;
}
/* Slideshow container */
.slideshow-container {
    font-family: "Antone";
    position: absolute;
    top: 5vw;
    margin-left: 30%;
    width: 40%;
    z-index: -1;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 8s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


div.text{
    position: absolute;
    top: 62vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "Antone";
    font-size: 1.2vw;
    text-align: center;
}



@font-face {
    font-family: "outfit";
    src: url("Outfit-Regular.ttf");
}

@font-face {
    font-family: "Antone";
    src: url("Antone Clean.ttf");
}