body{
    margin: 0px;
    background-color: rgb(193, 43,42);

}

div.menu{
    margin-left: 29vw;
    right: auto;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2vw;
    margin-top: 2vw;
    font-family: "outfit";
}
a{
    margin: 1vw;
    color: white;
    text-decoration: none;

}

img{
    width: 100%;
    height: auto;
}
div.scroll-container {
    margin-top: 5vw;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 1vw;
  }
  
  div.scroll-container2 {
    margin-top: 5vw;
    background-color:  black;
    overflow: auto;
    white-space: nowrap;
    padding: 1vw;
  }


  div.scroll-container img {
    width: 30%;
    padding: 1vw;
  }

  div.scroll-container2 img {
    width: 30%;
    padding: 1vw;
  }

h1{
font-family: "Antone";
font-size: 5vw;
margin-left: 1.5vw;
}

h2{
    font-family: "Antone";
    font-size: 5vw;
    margin-left: 1.5vw;
    color: white;
    }



@font-face {
    font-family: "outfit";
    src: url("Outfit-Regular.ttf");
}

@font-face {
    font-family: "Antone";
    src: url("Antone Clean.ttf");
}

div.logo img{
    margin-top: 8vw;
    width: 20%;
    margin-left: 40%;
    margin-bottom: 8vw;
}