body{
margin: 0px;
flex: wrap;
background-color: rgb(193, 43,42);
overflow: none;
}


div.menu{
    margin-left: 29vw;
    right: auto;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2vw;
    margin-top: 2vw;
    font-family: "outfit";
}
a{
    margin: 1vw;
    color: white;
    text-decoration: none;

}
div.topimg{
  top: -5vw;
    position: absolute;
object-fit: cover;
    width: 100%;
    height: auto;
    z-index: -1;

}

img{
    width: 100%;
    height: auto;
}


@font-face {
    font-family: "outfit";
    src: url("Outfit-Regular.ttf");
}

@font-face {
    font-family: "Antone";
    src: url("Antone Clean.ttf");
}