body{
display: flex;

}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

div.colomn1{
    width: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
}

div.colomn2{
    width: 50%;
    position: fixed;
    right: 0px;
    top: 0px;
}