body{
    background-color:red;
}

.bgvideo{
position:fixed;
left: 0px;
top: 0px;
width:10vw;
opacity:70%;
}


.imageimport{

    display: flex;
    flex-wrap: wrap;
}
a{
    width: 25%;

}

img{

    width: 100%;
    height:auto;
    opacity:90%;
    display: flex;
    flex-wrap: wrap;
}

video{

    object-fit:contain;
    opacity: 80%;
}

h1{
    margin-bottom:10px;
margin-top:10px;    
margin-left:auto;
font-family: 'black';
color:white;
font-size:10vw;
}

.container {
    position: relative;
   width:100%;
  }

.title{
    position:absolute;
    left: auto;
    bottom: 0px;
    font-family: 'medium';
    color: red;
font-size: 8vw;
}

.container2{
    display: flex;
    margin-top: 8%;
    width: 100%;
    height:100vw;
    color: white;
}

h2{
    position: relative;
    left:14vw;
    height:14vw;
    margin-top: 20vw;
    margin-bottom: 20vw;
    margin-left:auto;
    font-family: 'black';
    font-size: 10vw;
    transform: rotate(90deg);
    opacity: 60%;
}

h3{
    position: relative;
    height:14vw;
    right: 14vw;
    margin-top: 52vw;
    margin-bottom: 20vw;
   margin-right: auto;
    font-family: 'black';
    font-size: 10vw;
    transform: rotate(-90deg);
    opacity: 60%;
}

h4{

    margin-bottom:10px;
    margin-top:10px;    
    margin-left:auto;
    font-family: 'black';
    color:white;
    font-size:11.5vw;
}

@font-face {
    font-family: "medium";
    src: url("MuseoModerno-Medium.ttf");
}
@font-face {
    font-family: "black";
    src: url("MuseoModerno-Black.ttf");
}

div.width33 {
 width:33.333%;

}

div.width66 {
    width:66%;
}

div.width100 {
    width:100%;
}

.recommend{

color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.webcam{
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    object-fit:contain;
    width:25%;
    height:auto;
    opacity: 80%;
}

div.blur img {
    filter: blur(3px);
    transition: 0.8s;
  }
  
  div.blur img:hover {
    filter: blur(0px);
    transition: 0.8s;
  }
  