body{
    flex-wrap: wrap;
    background-color: red;
}

div.bgimg{
    position: fixed;
    left: 0px;
    top: -1vw;
    scale: 100%;
    width: 100%;
    z-index: -1;
}

div.logo{
    position:relative;
    width: 90%;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
}

div.blur img {
    filter: blur(0.8vw);
    transition: 0.8s;
  }
  
  div.blur img:hover {
    filter: blur(0px);
    transition: 0.8s;
  }

img{
    width: 100%;
}

div.row{
    display: flex;
    flex-wrap: wrap;
}
h1{
    position: relative;
    width: 30%;
    margin-top: 20vw;
    margin-left: 5vw;
    color: white;
    font-family: "Gmedium";
    font-size: 3vw;
    text-align: left;
}

h2{
    position: relative;
    width: 30%;
    margin-top: 20vw;
    margin-left: auto;
    margin-right: 5vw;
    color: white;
    font-family: "Gmedium";
    font-size: 4.5vw;
   
    text-align: right;
}
video{
    opacity: 80%;
    width: 90%;
    height: auto;
    margin-top: 5vw;
    margin-left: 5%;
    margin-right: auto;
}

h3{
    position: relative;
    width: 30%;
    margin-top: 5vw;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 5vw;
    color: white;
    font-family: "Glight";
    font-size: 1.5vw;
    text-align: left ;
    line-height: 150%;
    }

div.john{
    margin-top: 5vw;
    margin-bottom: 0vw;
    opacity: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.scroll-container {
    margin-top: 5vw;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 1vw;
  }
  
  div.scroll-container img {
    width: 30%;
    padding: 1vw;
  }

div.logolockup{
    margin-top: -5vw;
    padding: 10%;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    
}

div.logolockup img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    object-fit: contain;
    width: 20%;
    height: auto;
}

@font-face {
    font-family:"fugue";
    src: url("Fugue-Regular.otf");
}

@font-face {
    font-family:"Glight";
    src: url("Graphik-Light.otf");
}

@font-face {
    font-family:"Gmedium";
    src: url("Graphik-Medium.otf");
}