div.container {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index: -1;
    opacity: 60%;
  }
  
  #videoElement {
    width:100%;
  /*  This height will make it responsive to the screen height  */
    height:100vh;
    /*  this is similar to background size or feel free to remove this extra line*/
    object-fit:cover;
    -webkit-transform:rotateY(180deg);
    filter: invert();
  }
  @font-face {
    font-family: "medium";
    src: url("MuseoModerno-Medium.ttf");
}
@font-face {
    font-family: "black";
    src: url("MuseoModerno-Black.ttf");
}
