body{
    background-color:black;
}

img{
    width: 100%;
}

div.box{
    width: 20%;
    height: 200px;
    background-color: blue;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
}

div.loco{
display: inline-block;
-webkit-text-fill-color:red;
}

div.loco img{
    width:200px;
    display: inline-block;
}