body{
    background-color:red;
}

.bgvideo{
    position:fixed;
    left: 0px;
    top: 0px;
    width:10vw;
    opacity:60%;
    z-index: -1;
    }


div.row{
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
    color: white;
    mix-blend-mode: difference;
    font-family: black;
    font-size: 18vw;
    filter: blur(1px);
}

@font-face {
    font-family: "medium";
    src: url("MuseoModerno-Medium.ttf");
}
@font-face {
    font-family: "black";
    src: url("MuseoModerno-Black.ttf");
}

.imageimport{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
a{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    mix-blend-mode: difference;

}

img{
    margin-top: 2vw;
    border-radius: 8vw;
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
}


h1{
    background-color: white;
width: 60%;
    outline: solid red 2vw;
    border-radius: 3vw;
    margin-bottom: 4vw;
margin-top:4vw;    
margin-left:auto;
margin-right: auto;
font-family: 'black';
text-align: center;
color:red;
font-size:4vw;
mix-blend-mode: difference;
filter: blur(1px);
}

.container {
    position: relative;
   width:100%;
  }

.title{
    position:absolute;
    left: 1vw;
    bottom: 0px;
    font-family: 'medium';
    color: rgb(146, 224, 255);
font-size: 8vw;
opacity: 80%;
filter: blur(1px);
}


@font-face {
    font-family: "medium";
    src: url("MuseoModerno-Medium.ttf");
}
@font-face {
    font-family: "black";
    src: url("MuseoModerno-Black.ttf");
}

div.blur img {
    filter: blur(3px);
    transition: 0.8s;
  }
  
  div.blur img:hover {
    filter: blur(0px);
    transition: 0.8s;
  }