body{
    background-color: black;
}

.bgvideo{
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    left: 0px;
    top: 0px;
width: 100%;
opacity: 85%;
    }

video{
    object-fit: cover;
    margin: 0px;
    width: 33.33333%;
    height: 33.333vh;
}
    
html {
    cursor: none;
    overflow: hidden;
}
.pointer {
    position: absolute;
    pointer-events: none;
}

.pointer img {
    position: relative;
    left: -13vw;
    top: -10vw;
    width: 30vw;
    opacity: 95%;
    mix-blend-mode: difference;
}
